<div class="container">
    <br><br>
    <h1 class="header center blue-text">Get started</h1>
    <div class="row center">
        <h5 class="header col s12 light">A simple Google oauth implementation on Minikube using Ingress</h5>
    </div>
    <div class="row center">
        <a href="./login" class="btn-large waves-effect waves-light blue">Login</a>
    </div>
    <br><br>
</div>
